.jumbotron {
  width: 100%;
  text-align: center;
  font-size: 40px;
  margin-top: 5%;
  background: rgba(0, 0, 0, ff)
}

.form-control {
  width: 150px;
}

#results {
  display: none;
  width: 80%;
  margin-top: 2%;
  margin-left: 100px;
}

form {
  width: 200px;
}

.row {
  margin-right: 20px;
  margin-left: 20px;
}
